* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightcyan;
  background-image: url(./resources/atoms.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  background-color: rgba(173, 216, 230, 0.459);
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
/* todo================== content =========================== */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;

  /* glass */
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /*  */
}
.city {
  font-size: 50px;
}
#date {
  font-size: 15px;
}
.cel {
  font-size: 40px;
  display: flex;
}
.rain {
  font-size: 25px;
}
.info {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  font-size: 17px;
}

/* todo============== content end ========================= */

/* ============== form ========================= */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  /* glass */
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /*  */
}
.form h2 {
  font-size: 35px;
}
.form p {
  font-size: 20px;
  font-weight: 500;
}
form {
  display: flex;
  gap: 5px;
}
form input {
  padding: 5px;
  border-radius: 6px;
  border: none;
  padding: 5px;
}

/* form button {
  padding: 5px 10px;
} */

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  color: #3d3d3d;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.btn:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* ============== form end ========================= */

footer {
  background-color: rgba(135, 206, 250, 0.425);
  width: 100%;
  text-align: center;
}

/* todo============== media queries ========================= */
@media only screen and (max-width: 768px) {
  .info {
    flex-direction: column;
    gap: 10px;
  }
  main {
    flex-direction: column-reverse;
  }
}
